*.html,body{
    background: rgba(178, 190, 191, 0.67);
    margin: 0;
    padding: 0; 
}
/*navbar  */
.navibar{
   background-color:  #D9D9D9;
}
.navbar-brand a{
    position: relative;
    font-family: 'Inter';
    width: 100  px;
    height: 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.navbar-nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.icon-nav i {
    color: #E67E51;
    margin-left: 75px;
    margin-top: 10px;}

.kategori-nav {
    align-content: center;
    justify-content: center;
    width: 99px;
    height: 29px; 
    text-decoration: none;
    margin-left: 50px;
    color: #000000;
   
}

.search-box{
    margin-top: 5px;
    height: 25px;
    background-color:rgba(178, 190, 191, 0.67);
    border-radius: 60px;
    padding: 0px; 
    width: 440px;
    height: 59px;
    left: 471px;
    top: 25px;

}

.search-box input{
    border: none;
    outline: none;
    width:380px;
    background: none;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.search-box a i { 
    margin-top: 25px;
    width: 41px;
    height: 41px;
    top: 34px;
    color: #000000;
    }
.logo-nav a i{
    margin-top: 25px;
    width: 41px;
    height: 41px;
    top: 34px;
    color: #000000;
}
.logo-nav2 a i {
    margin-top: 25px;
    width: 41px;
    height: 41px;
    left: 900px;
    top: 34px;
    color: #000000;   
}
.nav-item a {
    background-color:#F5F5F5;
    color: #E67E51;
    padding: 10px; 
    border-radius: 10px;
}
.nav-item2 a{
    background-color: #E67E51;
    color: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
}

/*tutup navbar  */


/*iklan  */
.hero-section{
    position: relative;
    top: 100px;
   background-color:  rgba(182, 240, 243, 0.7);
}
.iklan{
    width: 211px;
    height: 425px;
    right: 100px;
    top: 15px;
    margin-left: 0px;
    margin-bottom: 30px;
    border-radius: 0px 40px 40px 0px;
    overflow: hidden;
    position: relative;;

}
.iklan-img1:hover {
    transform: scale(1.1);
}
.iklan-img1{
    width: 211px;
    height: 425px;
    left: 0px;
    top: 272px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}
.iklan1{
    width: 696px;
height: 425px;
    top: 15px; 
    margin-bottom: 30px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;;

}
.iklan-img2:hover {
    transform: scale(1.1);
}

.iklan-img2{
    width: 696px;
height: 425px;
    top: 272px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.iklan2{
    width: 211px;
height: 425px;
    left:245px;
    top: 15px;
    margin-bottom: 30px;
    border-radius: 40px 0px 0px 40px;
    overflow: hidden;
    position: relative;;

}
.iklan-img3:hover {
    transform: scale(1.1);
}
.iklan-img3{
    width: 211px;
    height: 425px;
    top: 272px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}
/*tutup iklan  */
/*merk  */
.brand{
    
    position: relative;
    width: 100%;
    height: 100%;
    top: 250px; 
    margin-left: 40px;
    margin-right: 40px;
}
.row a h4{
    width: 117px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    left: 350px;
    top: 10px;
    text-decoration-line: none;
}



.merk1{
    width: 214px;
    height: 116px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
.merk-img:hover {
    transform: scale(1.1);
}
.merk-img{
    width: 214px;
    height: 116px;   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s ease;
}.merk2{
    width: 214px;
    height: 116px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
.merk3{
    width: 214px;
    height: 116px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
.merk-thumbnail2{
    width: 214px;
    height: 116px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}.merk4{
    width: 214px;
    height: 116px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
.merk5{
    width: 214px;
    height: 116px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
.merk-img2:hover {
    transform: scale(1.1);
}
.merk-img2{
   width: 214px;
    height: 116px;  
    left: 100px; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.nav-item3 {
    position: absolute;
    width: 230px;
    height: 50px;
    left: 400px;
    top: 50px;
    background-color: #E67E51;
    color: #F5F5F5;
    border-radius: 10px;
   box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.2);
}
.nav-item3 a{
    position: absolute;
    color: #F5F5F5;
    width: 167px;
    height: 34px;
    left: 70px;
    top: 10px;
}

/*tutup merk */
/*produk terlaris   */
.terlaris{
    position: relative;
    width: 100%;
    height: 100%;
    top: 500px;
}
.row h4{
position: relative;
width: 208px;
height: 34px;
left: 40px;
bottom:30px;


}
.produk-thumbnail{
    width: 263px;
    height: 496PX;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.produk-img:hover {
    transform: scale(1.1);
}
.produk-img{
    width: 263px;
    height: 496px;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.produk-thumbnail2{
    width: 263px;
    height: 496PX;
    margin-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.produk-img2:hover {
    transform: scale(1.1);
}
.produk-img2{
    width: 263px;
    height: 496px;  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s ease;
}

/*tutup produk terlaris   */
/*accesories  */
.perlengkapan{
    position: relative;
    width: 100%;
    height: 100%;
    left: 15px;
    top: 550px;
}
.col-12 h4{
    position: relative;
    width: 250px;
    height: 34px;
    left: 20px;
    bottom: 20px;
    

}
.accesories{
    width: 100%;
    height: 237px;
    border-radius: 90px;
    overflow: hidden;
    position: relative;

}
.accesories-img:hover {
    transform: scale(1.1);
}
.accesories-img{
    width: 324px;
    height: 237px;
    left: 20px;

    border-radius: 90px; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.accesories1{
    width: 100%;
    height: 237px;
    left: 80px;
    border-radius: 90px;
    overflow: hidden;

    position: relative;

}
.accesories2{
    width: 100%;
    height: 237px;
    left: 160px;
    border-radius: 90px;
    overflow: hidden;
    position: relative;
  
   

}
.accesories-text {
    position: relative;
    width: 75px;
    height: 34px;
    left: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

}
.accesories-text1{
    position: relative;
    width: 75px;
    height: 34px;
    left: 180px;
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000; 
}
.accesories-text2{
    position: relative;
    width: 75px;
    height: 34px;
    left: 250px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}



/*tutup accesories  */
/*footer  */
.footer{
    position: relative;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    top:500px;
    background: #CDC8C8;
}
.footer p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #9F9C9C;
    top:500px;
}
.footer-small {
    position: relative;
    top: 500px;
    background-color: #D9D9D9;
    text-align: center;
}
.footer-small p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    margin-top: 20px;

    color: #000000;;
}

.footer-small a {
    font-weight: 500;
    font-size: 16px;

    text-decoration: none;

    color:#E67E51 ;
}
/*TUTUP footer  */